/* Header Title */
a#habla_oplink_a.habla_oplink_a_normal.hbl_pal_header_font_size.hbl_pal_title_fg {
  font-family: 'aaux-next', sans-serif !important;
  font-size: 14px !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
}


/* Header Bg */
div#habla_topbar_div.habla_topbar_div_normal.hbl_pal_title_fg.hbl_pal_title_bg.habla_topbar_div_compressed {
  background-color: #2c337e !important;
}

#habla_window_div #habla_topbar_div {
  background-color: #111b43 !important;
}


/* Button */
input#habla_offline_submit_input.habla_offline_submit_input.hbl_pal_offline_submit_fg.hbl_pal_control_border.hbl_pal_offline_submit_bg {
  background-color: #EB3C43 !important;
  padding: 5px 30px !important;
  color: #FFF !important;
  font-family: 'aaux-next', sans-serif !important;
  font-size: 14px !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
}

/* Body Bg */
div#habla_middle_div {
  background-color: #f4f4f5 !important;
}


/* Olark Footer */
div#olk-b-13161 {
  background-color: #f4f4f5 !important;
}

/* Olark Input Form */
#habla_offline_phone_input {
  background-color: #FFF;
}