// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;

$red: #eb3c42;
$black: #191919;
$blue: #3c90cc;
$lightblue: #21aadf;
$yellow: #fac141;
$purple: #2a2f80;

$ocean: #111b43;

// gris menu
$grey1: #333333;
$grey2: #363636;

// menu 2
$white: #fff;
$white2: rgba(255,255,255,.9);