//////////////// ICON LIST \\\\\\\\\\\\\\\\

.icones-list {
	text-align: center;
	position: relative;


	h2 {
		// margin-bottom: 30px;
	}
	
	p, ol, ul, .btn {
		margin-bottom: 50px;
	}

	ul li:last-child, ol li:last-child {
		margin-bottom: 0;
	}

	ul {
		list-style-type: none;
		text-align: center;
		padding: 0;

		li {
			font-size: 1.6rem;
			font-weight: 600;
			display: inline-block;
			width: 180px;
			margin: 0 10px;


			img {
				display: block;
				width: 60px;
				height: 60px;
				margin: 0 auto 10px;
			}
		}
	}

	@media (max-width: $screen-xs-max) {
		ul li {
			margin: 0 0 20px;
		}

		p, ol, ul, .btn {
			margin-bottom: 30px;
		}
	}

	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		ul {
			li {
				font-size: 1.4rem;
				margin: 10px;
			}
		}
	}

	@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

	}

	@media (min-width: $screen-lg-min) {

	}
}